<a href="https://colab.research.google.com/github/declan-healy/acoustic-resonant-chamber/blob/main/M2_Normal_modes_in_an_acoustic_chamber.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone "https://github.com/declan-healy/acoustic-resonant-chamber.git"

Cloning into 'acoustic-resonant-chamber'...
remote: Enumerating objects: 4, done.
remote: Counting objects: 100% (4/4), done.
remote: Compressing objects: 100% (4/4), done.
remote: Total 4 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (4/4), done.

In [8]:
%cd /content/acoustic-resonant-chamber/
!git pull "https://github.com/declan-healy/acoustic-resonant-chamber.git"

/content/acoustic-resonant-chamber
remote: Enumerating objects: 8, done.
remote: Counting objects: 100% (8/8), done.
remote: Compressing objects: 100% (5/5), done.
remote: Total 5 (delta 1), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (5/5), done.
From https://github.com/declan-healy/acoustic-resonant-chamber
 * branch            HEAD       -> FETCH_HEAD
Updating 56964be..4203597
Fast-forward
 M2 - Experiment.xlsx | Bin 65726 -> 65803 bytes
 measured.csv         |  14 ++++
 predicted.csv        | 229 ++++++++++++++++++++++++++++++++++++++++++++++++---
 3 files changed, 230 insertions(+), 13 deletions(-)
 create mode 100644 measured.csv

In [6]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [35]:
predicted = pd.read_csv("predicted.csv", nrows = 14)
predicted

    x  y  z  frequency
0   0  1  0     426.39
1   1  0  0     666.95
2   1  1  0     791.60
3   0  2  0     852.77
4   0  0  1    1078.03
5   1  2  0    1082.61
6   0  1  1    1159.29
7   1  0  1    1267.67
8   0  3  0    1279.16
9   2  0  0    1333.91
10  1  1  1    1337.45
11  0  2  1    1374.54
12  2  1  0    1400.40
13  1  3  0    1442.59

In [41]:
measured = pd.read_csv("measured.csv", nrows = 11, usecols = ['short', 'medium', 'long'])
measured

    short  medium  long
0     450     450   448
1     691     690   689
2     811     813   813
3     875     869   869
4    1106    1079   920
5    1183    1122  1105
6    1296    1284  1289
7    1347    1344  1346
8    1398    1386  1385
9    1425    1423  1422
10   1464    1459  1456